<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OutputPath" value="C:\PIReplicationTool\Output\" />
    <add key="InputPath" value="C:\PIReplicationTool\Input\" />
    <add key="LogPath" value="C:\PIReplicationTool\Output\Log" />
    <add key="InputFileName" value="input.txt" />
    <add key="OutputFileName_SourceTags" value="SourceTags" />
    <add key="OutputFileName_TargetTags" value="TargetTags" />
    <add key="fieldSeparator" value=";" />
    <add key="PISecurityConfiguration" value="piadmin: A(r,w) | piadmins: A(r,w) | PI_Users_Read_Only: A(r) | PI_Users_Read_Write: A(r,w) | PI_Administrators: A(r,w) | PI_Analytics: A(r) | PI_Applications: A(r,w) | PI_Assetframework: A(r) | PI_Buffer: A(r,w) | PI_Interfaces: A(r) | PI_Notifications: A(r) | PI_Perfmon: A() | PI_Vision: A(r) | PIWorld: A()" />
    <add key="NumericalMaxPointCountAllowed" value="20000" />
    <add key="DigitalMaxPointCountAllowed" value="10000" />
	
    <!--TRIGRAM KEYS-->
    <!--TEP Pau-->
    <add key="Trigram_PI-CENTER-HQ" value="" />
    <!--TEP Angola-->
    <add key="Trigram_PI-DA-AO-PPR" value="LAD_PPR" />
    <add key="Trigram_OPEPPA-WRPIAO01" value="LAD_PPR" />
    <!--TEP Austral-->
    <add key="Trigram_PI-DA-AR-PPR" value="BUE_PPR" />
    <add key="Trigram_OPEPPA-WRPIAR01" value="BUE_PPR" />
    <!--TEP Brazil-->
	<add key="Trigram_PI-DA-BR-PPR" value="RIO_PPR" />
    <add key="Trigram_OPEPPA-WRPIBR01" value="RIO_PPR" />
    <!--TEP Congo-->
	<add key="Trigram_PI-DA-CG-PPR" value="PNR_PPR" />
    <add key="Trigram_OPEPPA-WRPICG01" value="PNR_PPR" />
    <!--TEP Danemark-->
	<add key="Trigram_PI-DA-DK-PPR" value="EBJ_PPR" />
    <add key="Trigram_OPEPPA-WRPIDK01" value="EBJ_PPR" />
    <!--TEP Gabon-->
	<add key="Trigram_PI-DA-GB-PPR" value="POG_PPR" />
    <add key="Trigram_OPEPPA-WRPIGB01" value="POG_PPR" />
    <!--TEP Netherland-->
	<add key="Trigram_PI-DA-NL-PPR" value="DHG_PPR" />
    <add key="Trigram_OPEPPA-WRPINL01" value="DHG_PPR" />
    <!--TEP Nigeria DW-->
	<add key="Trigram_PI-DA-LOG-NG-PPR" value="LOS_PPR" />
    <add key="Trigram_OPEPPA-WRPING01" value="LOS_PPR" />
    <!--TEP Nigeria JV-->
	<add key="Trigram_PI-DA-PHC-NG-PPR" value="PHC_PPR" />
    <add key="Trigram_OPEPPA-WRPING02" value="PHC_PPR" />
	<!--TEP Qatar-->
    <add key="Trigram_PI-DA-QA-PPR" value="DOH" />
    <add key="Trigram_OPEPPA-WRPIQA01" value="DOH" />
	
    </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>